<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cursokotlin.turismo_vedra">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Turismo_Vedra"
        tools:targetApi="31">
        <activity
            android:name=".ondexantar.OndeComerPrincipal"
            android:exported="false" />
        <activity
            android:name=".quefacer.Cicloturismo"
            android:exported="false" />
        <activity
            android:name=".quefacer.ActividadesDeportivas"
            android:exported="false" />
        <activity
            android:name=".quefacer.Albergue"
            android:exported="false" />
        <activity
            android:name=".quefacer.CaminoSantiago"
            android:exported="false" />
        <activity
            android:name=".quefacer.CaminoViaPrata"
            android:exported="false" />
        <activity
            android:name=".quefacer.CaminoMinotoRibeiro"
            android:exported="false" />
        <activity
            android:name=".InformacionTuristica"
            android:exported="false" />
        <activity
            android:name=".ComoChegar"
            android:exported="false" />
        <activity
            android:name=".ondexantar.DondeComer_Restaurantes"
            android:exported="false" />
        <activity
            android:name=".ondexantar.DondeComer_bares"
            android:exported="false" />
        <activity
            android:name=".Menu"
            android:exported="false" />
        <activity
            android:name=".productoresLocales.Pirotecnia"
            android:exported="false" />
        <activity
            android:name=".productoresLocales.Tocados"
            android:exported="false" />
        <activity
            android:name=".productoresLocales.Deseno"
            android:exported="false" />
        <activity
            android:name=".productoresLocales.Artesania"
            android:exported="false" />
        <activity
            android:name=".productoresLocales.Aceite"
            android:exported="false" />
        <activity
            android:name=".productoresLocales.Panaderias"
            android:exported="false" />
        <activity
            android:name=".productoresLocales.Viveiros"
            android:exported="false" />
        <activity
            android:name=".productoresLocales.Froitas"
            android:exported="false" />
        <activity
            android:name=".productoresLocales.Destilerias"
            android:exported="false" />
        <activity
            android:name=".productoresLocales.Adegas"
            android:exported="false" />
        <activity
            android:name=".productoresLocales.ProductoresLocales"
            android:exported="false" />
        <activity
            android:name=".quefacer.FestasLocais"
            android:exported="false" />
        <activity
            android:name=".quefacer.FestasGastronomicas"
            android:exported="false" />
        <activity
            android:name=".quefacer.ActividadesSociais"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".queVer.queVer"
            android:exported="false" />
        <activity
            android:name=".queVer.naturaleza"
            android:exported="false" />
        <activity
            android:name=".queVer.arquitectura"
            android:exported="false" />
        <activity
            android:name=".queVer.patrimonio_historico"
            android:exported="false" /> <!-- Que facer -->
        <activity
            android:name=".queVer.areaRecreativaDeAgronovo"
            android:exported="false" />
        <activity
            android:name=".queVer.areaDeRecreoDeCubelas"
            android:exported="false" />
        <activity
            android:name=".queVer.miradorGundian"
            android:exported="false" />
        <activity
            android:name=".queVer.campoGundian"
            android:exported="false" />
        <activity
            android:name=".queVer.coutoXimonde"
            android:exported="false" />
        <activity
            android:name=".queVer.pazoSantaCruzRibadulla"
            android:exported="false" />
        <activity
            android:name=".queVer.puenteGundian"
            android:exported="false" />
        <activity
            android:name=".queVer.puenteAVEGundian"
            android:exported="false" />
        <activity
            android:name=".queVer.puenteColganteXimonde"
            android:exported="false" />
        <activity
            android:name=".queVer.molinoReboredo"
            android:exported="false" />
        <activity
            android:name=".queVer.igrexaFonteCruceiroVedra"
            android:exported="false" />
        <activity
            android:name=".queVer.capillaFuenteSANTIAGUIÑO"
            android:exported="false" />
        <activity
            android:name=".queVer.roteiroEmigracion"
            android:exported="false" /> <!-- Onde comer -->
        <!-- Onde durmir -->
        <!-- Productores locais -->
        <!-- Que ver -->

    </application>

</manifest>