<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cursokotlin.turismo_vedra">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Turismo_Vedra"
        tools:targetApi="31">
        <activity
            android:name=".InformacionTuristica"
            android:exported="false" />
        <activity
            android:name=".ComoChegar"
            android:exported="false" />
        <activity
            android:name=".Menu"
            android:exported="false" />
        <activity
            android:name=".productoresLocales.Pirotecnia"
            android:exported="false" />
        <activity
            android:name=".productoresLocales.Tocados"
            android:exported="false" />
        <activity
            android:name=".productoresLocales.Deseno"
            android:exported="false" />
        <activity
            android:name=".productoresLocales.Artesania"
            android:exported="false" />
        <activity
            android:name=".productoresLocales.Aceite"
            android:exported="false" />
        <activity
            android:name=".productoresLocales.Panaderias"
            android:exported="false" />
        <activity
            android:name=".productoresLocales.Viveiros"
            android:exported="false" />
        <activity
            android:name=".productoresLocales.Froitas"
            android:exported="false" />
        <activity
            android:name=".productoresLocales.Destilerias"
            android:exported="false" />
        <activity
            android:name=".productoresLocales.Adegas"
            android:exported="false" />
        <activity
            android:name=".productoresLocales.ProductoresLocales"
            android:exported="false" />
        <activity
            android:name=".queFacer.FestasLocais"
            android:exported="false" />
        <activity
            android:name=".queFacer.FestasGastronomicas"
            android:exported="false" />
        <activity
            android:name=".queFacer.ActividadesSociais"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".queVer.queVer"
            android:exported="false" />
        <activity
            android:name=".queVer.naturaleza"
            android:exported="false" />
        <activity
            android:name=".queVer.arquitectura"
            android:exported="false" />
        <activity
            android:name=".queVer.patrimonio_historico"
            android:exported="false" /> <!-- Que facer -->
        <activity
            android:name=".queFacer.QueFacerPrincipal"
            android:exported="false" /> <!-- Que ver -->
        <activity
            android:name=".queVer.areaRecreativaDeAgronovo"
            android:exported="false" />
    </application>

</manifest>