<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cursokotlin.turismo_vedra">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/vedrasenletra"
        android:label="@string/app_name"
        android:roundIcon="@drawable/vedrasenletra"
        android:supportsRtl="true"
        android:theme="@style/Theme.Turismo_Vedra"
        tools:targetApi="31">
        <activity
            android:name=".quefacer.RutasSendeirismo"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".quefacer.PescaFluvial"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ondedurmir.OndeDurmir"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ondexantar.OndeComerPrincipal"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".quefacer.Cicloturismo"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".quefacer.ActividadesDeportivas"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".quefacer.Albergue"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".quefacer.CaminoSantiago"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".quefacer.CaminoViaPrata"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".quefacer.CaminoMinotoRibeiro"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".TelefonosInterese"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Contacto"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".InformacionTuristica"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ComoChegar"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ondexantar.DondeComer_Restaurantes"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ondexantar.DondeComer_bares"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Menu"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".productoresLocales.Pirotecnia"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".productoresLocales.Tocados"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".productoresLocales.Deseno"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".productoresLocales.Artesania"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".productoresLocales.Aceite"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".productoresLocales.Panaderias"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".productoresLocales.Viveiros"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".productoresLocales.Froitas"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".productoresLocales.Destilerias"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".productoresLocales.Adegas"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".productoresLocales.ProductoresLocales"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".quefacer.FestasLocais"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".quefacer.FestasGastronomicas"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".quefacer.ActividadesSociais"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".queVer.QueVer"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".queVer.Naturaleza"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".queVer.arquitectura"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".queVer.Patrimonio_historico"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".queVer.AreaRecreativaDeAgronovo"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".queVer.AreaDeRecreoDeCubelas"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".queVer.MiradorGundian"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".queVer.CampoGundian"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".queVer.CoutoXimonde"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".queVer.PazoSantaCruzRibadulla"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".queVer.PuenteGundian"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".queVer.PuenteAVEGundian"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".queVer.PuenteColganteXimonde"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".queVer.MolinoReboredo"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".queVer.IgrexaFonteCruceiroVedra"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".queVer.CapillaFuenteSANTIAGUIÑO"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".queVer.RoteiroEmigracion"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".quefacer.QueFacerPrincipal"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>